@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teams-display {
  display: flex;
  flex-wrap: wrap; /* 允許換行 */
  justify-content: space-between; /* 使項目均勻分布 */
}

.teams-display ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.teams-display li {
  width: 18%; /* 每個項目佔據 18% 的寬度，5 個項目就會填滿一行 */
  margin: 10px 5px; /* 增加間距 */
  list-style: none; /* 移除項目符號 */
  font-size: 0.8rem;
  border: 1px solid #282c34; /* 添加邊框寬度和樣式 */
  padding-bottom: 2px;
  border-radius: 3px;
}

.game-display h2 {
  justify-content: center;
}

.game-display {
  display: flex;
  flex-wrap: wrap; /* 允許換行 */
  justify-content: space-around; /* 使項目均勻分布 */
}

.game-display ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.game-display li {
  width: auto;
  margin: 10px 5px; /* 增加間距 */
  list-style: none; /* 移除項目符號 */
  font-size: 0.8rem;
  border: 1px solid #282c34; /* 添加邊框寬度和樣式 */
  padding-bottom: 2px;
  border-radius: 3px;
}


.player-div{
  background-color: antiquewhite;
}

.player-div h1{
  padding:0px;
  margin: 0px;
}
.players-display h2{
  background-color: orange;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  text-align: left;
  padding-left: 10px;
}
.players-display {
  display: flex;
  flex-wrap: wrap; /* 允許換行 */
  justify-content: space-around; /* 使項目均勻分布 */
}

.players-display ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.players-display li {
  width: auto;
  margin: 5px 5px; /* 增加間距 */
  list-style: none; /* 移除項目符號 */
  font-size: 0.8rem;
  padding-bottom: 2px;
}
